.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  width: 80vw;
  max-width: 1024px;
  margin: 0 auto;
  color: #ffffff;

  img {
    height: 3rem;
    object-fit: contain;
  }

  .list {
    display: flex;
    gap: 30px;
    list-style: none;

    svg {
      font-size: 1.25rem;
      color: #C0C6DE;
      cursor: pointer;
    }
  }
}
