.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  width: 80vw;
  max-width: 1024px;
  position: sticky;
  top: 0;
  margin: 0 auto;
  color: #ffffff;
  background-color: #0f172a;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=95)';
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;

  img {
    height: 2rem;
    object-fit: contain;
    cursor: pointer;
  }

  .list {
    display: flex;
    gap: 30px;
    list-style: none;

    svg {
      font-size: 1.25rem;
      color: #c0c6de;
      cursor: pointer;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
