.container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  max-width: 1024px;
  margin: 0 auto;

  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .name {
      font-size: 2rem;
      background: -webkit-linear-gradient(60deg, #3b82f6, #a855f7, #3b82f6);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    .title {
      color: #ffffff;
      font-size: 1.75rem;
      max-width: 40ch;
    }

    .subTitle {
      color: #c7e8fd;
      font-size: 1.25rem;
      max-width: 40ch;
    }

    .buttons {
      display: flex;
      gap: 20px;

      .btn {
        font-size: 2.25rem;
        color: #8f929e;
      }
    }
  }

  .photo {
    height: 15rem;
    object-fit: contain;
    border-radius: 50%;
    border: 10px solid #334155;
  }
}
