.card {
  background-color: #1e293b;
  border-radius: 5px;
  max-width: 460px;
  padding: 24px 32px;
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    img {
      object-fit: contain;
      width: 100%;
      max-width: 450px;
      aspect-ratio: 16/9;
    }

    h3 {
      font-size: 2rem;
      color: #cbd5e1;
    }

    .icons {
      display: flex;
      gap: 5px;
      color: #58aadd;
      font-size: 2rem;
    }

    p {
      max-width: 40ch;
      color: #bec9d5;
    }

    .links {
      display: flex;
      justify-content: center;
      gap: 20px;

      a {
        font-size: 30px;
        color: #fff;
        border-radius: 50%;
        background: #0d0d0d;
        padding: 8px 8px 5px 8px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 36%;
  }
}