.card {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  color: #cbd5e1;
  margin: 0 auto;

  img {
    object-fit: contain;
    width: 100%;
    max-width: 450px;
    aspect-ratio: 16/9;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    .title {
      font-size: 1.75rem;
    }

    .techs {
      display: flex;
      gap: 1rem;
      list-style: none;
      font-size: 1rem;
      font-weight: 500;
      color: #3b82f6;
    }

    .description {
      line-height: 1.5;
    }
  }
}
