.card {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  color: #cbd5e1;
  margin: 0 auto;

  img {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 16/9;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    .title {
      font-size: 1.75rem;
    }

    .techs {
      display: flex;
      gap: 1rem;
      list-style: none;
      font-size: 1rem;
      font-weight: 500;
      color: #90b8f9;
    }

    .description {
      line-height: 1.5;
    }
  }
}

@media (width > 767px) {
  .card {
    gap: 1rem;
    align-items: center;

    &:nth-child(odd) {
      flex-direction: row;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    img {
      width: 50%;
    }

    .content {
      width: 50%;
      margin-bottom: 0;
    }
  }
}
