.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  padding: 4rem 2rem;
  background-color: #1e293b;
  max-width: 1100px;
  margin: 6rem auto;
  color: #e5e7eb;

  .title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
    letter-spacing: -0.05rem;
  }

  .studies {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (width > 767px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 4rem;

    .title {
      font-size: 3rem;
    }

    .experience {
      width: 40%;
    }

    .studies {
      width: 40%;
    }
  }
}
