.mailBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 5px;
  background-color: #3878df;
  border: solid 2px #ffffff;
  transition: background-color 0.25s;

  &:hover {
    background-color: #ffffff;
    color: #3878df;
    border-color: #3878df;
  }

  p {
    font-size: 0.9rem;
    font-weight: 700;
  }

  svg {
    font-size: 1rem;
    margin-left: 5px;
  }
}
