.container {
  max-width: 1100px;
  padding: 4rem 2rem;
  margin: 6rem auto;
  background-color: #1e293b;

  .title {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    color: #cbd5e1;
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
  }
}

@media (width > 767px) {
  .container {
    padding: 5rem 4rem;

    .title {
      font-size: 3rem;
    }

    .cardsContainer {
      gap: 5rem;
    }
  }
}
